@import url('https://fonts.googleapis.com/css?family=Catamaran:200');



.about-hero{
    // background: url('about.jpg');
    // background-repeat: no-repeat;
    background-size: cover;
    height: 60vh;
}

.about-us{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background: #DDDDDD;
    height: 500px;
    width: 100vw;
    // margin-left: 228px;
    margin-top: -4px;
    font-family: 'Catamaran', sans-serif;
    text-transform: uppercase;
    // padding-top: 20px;
}
.about-us h1{
    color: #D93804;
    
}

iframe{
    height: 70vh;
    width: 100vw;
}

@media(max-width: 675px){
    .about-us{
        height: 600px;
    }
}

@media(max-width: 450px){
    .about-us{
        height: 900px;
    }
}