@import url('https://fonts.googleapis.com/css?family=Catamaran:200');



.about-hero{
    background: url('about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.about-us{
    background: #B7B5B5;
    height: 500px;
    width: 600px;
    margin-left: 228px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Catamaran', sans-serif;
}