@import url("https://fonts.googleapis.com/css?family=Catamaran:200");
.about-hero {
  background: url("about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh; }

.about-us {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background: #B0ADAD;
  height: 500px;
  width: 600px;
  font-family: 'Catamaran', sans-serif; }
